@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Fraunces", ui-serif, Georgia, serif;

  --color-ink: #172920;
  --color-sage: #AFC097;
  --color-stone: #CDC9C2;
  --color-terracotta: #C78D84;
  --color-charcoal: #181A1B;
}

body {
  background-color: var(--color-ink);
  color: var(--color-stone);
}
